body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
  color:#111;
}

.container{
  max-width:500px;
  margin:auto;
  padding:10px;
}

h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:2px;
}

.tabs{
  display:flex;
  justify-content:center;
  gap:10px;
}

.tabs button{
  padding:10px;
  border:none;
  background:black;
  color:white;
  border-radius:8px;
}

.tabs .active{
  background:white;
  color:black;
  border:1px solid black;
}

h2,h3{
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

.card{
  background:white;
  border:1px solid black;
  padding:10px;
  border-radius:10px;
  text-align:center;
  cursor:pointer;
  font-weight:bold;
}

.card span{
  display:block;
  font-size:13px;
  color:#444;
}

.form{
  margin-top:20px;
  background:white;
  padding:15px;
  border:1px solid black;
  border-radius:10px;
}

input,select{
  width:100%;
  margin-top:10px;
  padding:10px;
  border:1px solid black;
  border-radius:8px;
}

button{
  margin-top:10px;
  width:100%;
  padding:10px;
  background:black;
  color:white;
  border:none;
  border-radius:8px;
}

.hidden{
  display:none;
  }
